.header-logo {
  position: absolute;
  right: 0;
  top: 25vh;
  background: url("../images/logo-2.png");
  width: 500px;
  height: 272px;
}


@media screen and (max-width: 960px) {
  .header-logo {
    background: url("../images/logo-light.png");
  }
}
